<!DOCTYPE html>
<html>
  <head>
    <title>MASAMUNE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <div class="login-logo">
            <a href="/">MASAMUNE</a>
          </div>
          <div class="social-auth-links text-center mb-3">
            <%= link_to '/auth/twitter', class: 'btn btn-block btn-primary' do %>
              <i class="fab fa-twitter mr-2"></i> Sign in using Twitter
            <% end %>
          </div>
          <!-- /.social-auth-links -->
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </body>
</html>
