<div class="row">
  <div class="col-lg col-md-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">ツイート数</h6>
        <p class="card-text text-right"><%= @user_summaries.last&.statuses_count %></p>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">フォロー数</h6>
        <p class="card-text text-right"><%= @user_summaries.last&.friends_count %></p>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">フォロワー数</h6>
        <p class="card-text text-right"><%= @user_summaries.last&.followers_count %></p>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">被RT数</h6>
        <p class="card-text text-right"><%= @user_summaries.last&.retweet_count %></p>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">被いいね数</h6>
        <p class="card-text text-right"><%= @user_summaries.last&.favorite_count %></p>
      </div>
    </div>
  </div>
</div>
<div class="text-muted text-right mb-3">最終更新日時: <%= @user_summaries.last&.updated_at&.strftime('%Y/%m/%d %H:%M') %></div>
