<% content_for :page_title, 'ダッシュボード' %>
<div class="col-lg-12"><%= render partial: 'user_infomation' %></div>
<div class="col-lg-6"><%= render partial: 'followers_count_histories' %></div>
<div class="col-lg-6"><%= render partial: 'retweet_count_and_favorite_count_histories' %></div>
<div class="col-lg-12"><%= render partial: 'popular_tweets_by_favorite_count' %></div>
<div class="col-lg-12"><%= render partial: 'popular_tweets_by_retweet_count' %></div>
