<div class="container">
  <div class="row p-2">
    <div class="col-md-12"><%= render partial: 'user_infomation' %></div>
  </div>

  <div class="row p-2">
    <div class="col-md-12"><%= render partial: 'followers_count_histories' %></div>
  </div>

  <div class="row p-2">
    <div class="col-md-12"><%= render partial: 'retweet_count_and_favorite_count_histories' %></div>
  </div>

  <div class="row p-2">
    <div class="col-md-12"><%= render partial: 'popular_tweets_by_favorite_count' %></div>
  </div>

  <div class="row p-2">
    <div class="col-md-12"><%= render partial: 'popular_tweets_by_retweet_count' %></div>
  </div>

  <div class="row p-2">
    <div class="col-md-7"></div>
    <div class="col-md-5"></div>
  </div>
</div>
