<% content_for :page_title, '設定' %>
<div class="col-lg-12">
  <div class="card">
    <h5 class="card-header">自動フォロー設定</h5>
    <div class="card-body">
      <%= form_with url: settings_path, local: false do |form| %>
        <div class="form-group custom-control custom-switch">
          <%= form.check_box :auto_follow_enabled, { checked: @settings[:auto_follow][:enabled].present?, class: 'custom-control-input' }, true, nil %>
          <%= form.label :auto_follow_enabled, '自動フォロー', class: 'custom-control-label' %>
        </div>
        <p>
          検索キーワード
          <%= form.text_field :search_keyword, value: @settings[:auto_follow][:search_keyword] || '#プロスピA', size: 40, class: '' %>
          を含むツイートをした
        </p>
        <p>
          フォロー数が
          <%= form.number_field :friends_count_ge, value: @settings[:auto_follow][:friends_count_ge] || '50', class: '' %>
          人以上、
          <%= form.number_field :friends_count_le, value: @settings[:auto_follow][:friends_count_le] || 10000, class: '' %>
          人以下で
        </p>
        <p>
          フォロワー数が
          <%= form.number_field :followers_count_ge, value: @settings[:auto_follow][:followers_count_ge] || 50, class: '' %>
          人以上、
          <%= form.number_field :followers_count_le, value: @settings[:auto_follow][:followers_count_le] || 10000, class: '' %>
          人以下で
        </p>
        <p>
          FF比率（フォロワー数÷フォロー数）が
          <%= form.number_field :ff_ratio_ge, value: @settings[:auto_follow][:ff_ratio_ge] || 0.6, step: 0.1, class: '' %>
          以上、
          <%= form.number_field :ff_ratio_le, value: @settings[:auto_follow][:ff_ratio_le] || 1.2, step: 0.1, class: '' %>
          以下のユーザーをフォローする
        </p>
        <p class="text-right mb-0"><%= form.submit '保存', class: 'btn btn-info' %></p>
      <% end %>
      <hr>
      <div>
        <ul class="mb-0">
          <li>自動フォローは5ポイント消費します。（1日1回、時間不定期で動作）</li>
          <li>検索キーワードはORで複数キーワードを指定できます。（例: 「#プロスピA OR #熱いぜプロスピ」）</li>
        </ul>
      </div>
    </div>
  </div>
</div>
