<!DOCTYPE html>
<html>
  <head>
    <title>MASAMUNE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
      <div class='container'>
        <a class='navbar-brand' href='/'>MASAMUNE</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= active_link_to 'ホーム', '/', class: 'nav-link', active: :exclusive, wrap_tag: :li, wrap_class: 'nav-item' %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'ツイート', '/tweets', class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item', data: { turbolinks: false } %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'ユーザー', '/friendships', class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item', data: { turbolinks: false } %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'レポート', '/reports', class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item' %>
            </li>
            <li class="nav-item">
              <%= active_link_to '分析', '/analytics/followers', class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item' %>
            </li>
          </ul>
          <p class="text-white mb-0">
            <% if current_user %>
              <%= image_tag current_user.image_url, class: 'border border-white rounded', width: 35 %>
              <%= current_user.name %>
              <small class="text-white-50">@<%= current_user.screen_name %></small>
            <% end %>
            <%= link_to 'ログアウト', logout_path, class: 'text-white' %>
          </p>
        </div>
      </div>
    </nav>
      <% if flash[:notice] %>
        <div class="notice">
          <%= flash[:notice]%>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
